{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "comps": "./src/comps",
          "config": "./src/config",
          "stores": "./src/stores",
          "lib": "./src/lib",
          "proto": "./src/proto"
        }
      }
    ]
  ]
}
