.header {
  margin-bottom: 25px;
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .left {
    display: flex;
    flex-direction: row;
    .title {
      margin-left: 10px;
      font-size: 18px;
      font-weight: 400;
      font-family: "Microsoft YaHei", Verdana, sans-serif;
    }
    .tips {
      margin-left: 30px;
      color: gray;
    }
  }

  .right {
    font-size: 16px;
    font-weight: 400;
    button {
      font-size: 16px;
      // padding: 0;
    }
  }
}
