.header {
  margin-bottom: 25px;
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .right {
    font-size: 16px;
    font-weight: 500;
    button {
      font-size: 16px;
      // padding: 0;
    }
  }
}
